// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "bootstrap/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";
@import "carousel";
@import "offcanvas";
 
body {
    font-family:'Gotham Narrow Medium';
}
body {
    max-width: 90%;
    margin: 0 auto;
}
.paud-header {
    padding-top: 10px;
    &_logo {
        display: block;
        text-align: center;
        padding-bottom: 5px;
        a {
            img {
                width: 200px;
                margin: auto;
            }
        }
    }
    &_menu_center {
        padding-bottom: 15px;
        padding-top: 15px;
        
        a {
            margin-right: 15px;
            color: #999999;
            i {
                margin-right: 5px;
            }
            &:hover {
                text-decoration: none;
            }
        }
        &_tentang {
            padding-top: 0px !important;
            padding-bottom: 0px !important;
            padding-left: 15px;
            padding-right: 15px;
            background: #f2b84b;
            color: #fff !important;
            border-radius: 30px;
            border-bottom-left-radius: 0px;
        }
    }
    &_tanggal {
        font-size: 14;
        color: #999999;
        font-family:'Gotham Narrow Light';
        font-weight: 300px;
    }
    &_search {
        width: 100% !important;
        input {
            width: 100% !important;
        }
    }
}
.paud-title-section {
    color: #2d6ca2;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family:'Gotham Narrow Light';
    font-size: 35px !important;
    strong {
        font-weight: bold;
        font-family:'Gotham Narrow Bold';
        margin-right: 5px;
    }
    position: relative;
    &::before {
        content: url('../img/logo-title.jpg');
        margin-right: 10px;
    }
}



.paud-navbar {
    .navbar-nav {
        li.nav-item  {
            padding-right: 20px;
            border-right: 1px solid #fff;
            padding-left: 20px;
            a.nav-link {
                color: #fff;
                font-size: 20px;
            }
            .dropdown-item {
                font-size: 20px;
            }
        }
        li.nav-item:last-child {
            border: none;
        }
    }
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    .paud-nama-kanal {
        margin-right: 15px;
    }
}

.navbar .navbar-header,
.navbar-collapse {
    float:none;
    display:inline-block;
    vertical-align: top;
}

@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}

/**
 * Grid styles
 */
 .video-grid.front-page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
  }
  
  ul.video-list {
    display: flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    list-style: none;
    margin: 0px;
  }
  
  li.video {
    flex-grow: 1;
    position: relative;
    ooverflow: hidden;
      width: 33.333333333%;
      width: -webkit-calc(100% / 3);
      width: calc(100% / 3);
    border: solid 0.2em transparent;
    
    & a {
      outline: none;
    }
        
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0);
      transition: background-color .15s;
    }
    
    & figure {
      display: block;
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      
      & img {
        display: block;
        max-width: 100%;
        height: auto;
        opacity: 0;
        transform: scale(0.5);
        transition: all .20s;
      }
  
      & figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.6);
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 1rem;
        transform: translateY(0);
        opacity: 1;
        transition: all .20s;
      }
    }
    
    &:hover {
      & figure {
        & img {
          opacity: 1;
          transform: scale(1);
        }
        
        & figcaption {
          opacity: 0;
          transform: translateY(50%);
        }
      }
    }
    
    &:hover:before {
      background-color: rgba(0,0,0,0.3);
    }
  }
  
  @media screen and (max-width: 800px) {
      li.video {
          width: 50%;
          width: -webkit-calc(100% / 2);
          width: calc(100% / 2);
      }
  }
  
  @media screen and (max-width: 640px) {
      li.video {
          width: 100%;
      }
  }
  
 

// PAUD MAIN BERITA
.paud-main-berita {
    padding-right: 40px;
    border-right: 1px solid #ddd;
    @media only screen and (max-width: 768px) {
        padding-right: 15px;
        border: none;
    }
    
}
.paud-detail-berita {

}
.paud-main-list-berita {
    margin-left: 80px;
    @media only screen and (max-width: 768px) {
        margin-left: 0px;
    }
}
.paud-list-berita {
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
    .paud-card-horizontal {
        .paud-image-thumb {
            img {
                @media only screen and (max-width: 768px) {
                    width: 150px;
                }
            }
        }
        
    }
    .paud-card-body {
        padding-top: 30px;
        @media only screen and (max-width: 768px) {
            padding-top: 15px;
        }
        .paud-card-title {
            font-size: 24px;
            a {
                color: #000;
            }
        }
        .paud-card-text {
            .paud-nama-kanal {
                padding-left: 15px;
                padding-right: 15px;
                color: #fff !important;
                border-radius: 30px;
                border-bottom-left-radius: 0px;
                font-size: 10px;
                padding-top: 2px;
                padding-bottom: 2px;
                margin-right: 15px;
                
            }
            .paud-jam-upload {
                font-family:'Gotham Narrow Light';
                font-size: 10px;
            }
        }
    }
    .paud-card-vertical {
        .paud-card-body {
            padding-left: 0px;
        }
    }
}
.paud-list-berita-featured {
    .paud-image-thumb {
        img {
            width: 100%;
        }
        .paud-caption-foto {
            margin-top: 15px;
            color: #6c757d !important;
            font-size: 14px;
        }
    } 
}
.paud-sidebar-list-berita {
    
    .paud-list-berita {
        .paud-card-body {
            padding: 0px;
        }
    }
    .paud-list-berita:last-child {
        margin-bottom: 60px;
    }
}
.paud-list-berita:nth-of-type(odd) {
    .paud-nama-kanal {
        background: #f2b84b;
    }
}
.paud-list-berita:nth-of-type(even) {
    .paud-nama-kanal {
        background: #17b3d3;
    }
}
// .paud-kanal-guru-penggerak {
//     background: #17b3d3 !important;
// }
// .paud-kanal-orang-tua {
//     background: #f2b84b !important;
// }

// Sidebar
.paud-sidebar {
    padding-left: 40px;
    @media only screen and (max-width: 768px) {
        padding-left: 15px;
    }
}

.paud-map-widget {
    p {
        font-size: 14px;
        margin-top:15px;
    }
}

footer {
    margin-top: 50px;
}

.paud-informasi-data-section {
    color: #2d6ca2;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family:'Gotham Narrow Bold';
    font-size: 40px !important;
    display: flex;
    align-items: center;
    vertical-align: center;
    position: relative;
    width: 100%;
    margin-bottom: 100px;
    margin-top: 60px;
    @media only screen and (max-width: 768px) {
        margin-bottom: 50px;
        font-size: 26px;
    }
    &::after {
        content: url('../img/logo-section.png');
        position: absolute;
        right: 0;    
        @media only screen and (max-width: 768px) {
            content: url('../img/logo-title.jpg');
            right: -10px !important;  
        }
    }
}

// RUANG CERIA
.paud-main-vertical {
    margin-top: 0px;
    .paud-title-section {
        margin-bottom: 0px;
    }
    .paud-title-section:before {
        display: none;
    }
}
.paud-main-list-vertical {
    display: flex;
    flex-wrap: wrap;
    .paud-list-vertical {
        flex: 1 0 14%;
        margin: 20px;
        align-items: center;
        justify-content: center;
        margin-bottom: 0px;
        h3 {
            a {
                font-size: 20px;
                color: #000;;
            }
        }
    }
    // .paud-list-vertical:first-child {
    //     margin-left: 0px;
    // }
    // .paud-list-vertical:last-child {
    //     margin-right: 0px;
    // }
}
.paud-pagination {
    margin-top: 15px;
}
.paud-hero-ruangbersama {
    padding-top: 50px;
    padding-bottom: 50px;
    p {
        margin-top: 30px;
    }
}

.paud-title-ruangbersama {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 35px;
    padding-right: 35px;
    background: #ef4b54;
    color: #fff !important;
    border-radius: 60px;
    border-bottom-left-radius: 0px;
    display: inline-block;
    width: 400px;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 35px;
    margin-top: 15px;
}
.paud-title-ruangbersama-forum {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    padding-left: 35px;
    padding-right: 35px;
    background: #00b6d7;
    color: #fff !important;
    border-radius: 60px;
    border-bottom-left-radius: 0px;
    display: inline-block;
    font-size: 35px;
    font-style: italic;
    margin-bottom: 35px;
    margin-top: 15px;
}

.paud-list-forum {
    border: none;
    .paud-card-body {
        padding-top: 0px;
    }
    .paud-card-title {
        a {
            color: #000;
        }
        
    }
    .paud-list-forum-excerpt {
        font-size: 16px;
        font-family:'Gotham Narrow Light' !important;
    }
    .paud-list-forum-link {
        border: 1px solid #000;
        font-family:'Gotham Narrow Light' !important;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        color: #000;
        font-size: 12;
        float: right;
        &:hover {
            text-decoration: none;
        }
    }
}

.paud-sidebar {
    img {
        width: 100%;
    }
}

.paud-login-form {
    background-image: url('../img/ruangbersama.png');
    border: none;
    background-size: contain;
    height: 450px;
    background-repeat: no-repeat;
    .card-body {
        padding-top: 22%;
    }
    form {
        
        width: 50%;
        margin: 0 auto;
        input {
            text-align: center;
        }
        .paud-form-input {
            background: #d1e4f3;
            padding: 15px;
            padding-bottom: 5px;
            padding-top: 20px;
            border-top-right-radius: 30px;
            border-top-left-radius: 30px;
            input {
                width: 90%;
                margin: 0 auto;
            }
        }
        button {
            background: none;
            border: none;
            color: #000;
            &:hover {
                background: none;
                color: #000;
            }
        }
    }
}

