// Custom bootstrap variable overrides
@import "bootstrap_variable_overrides";

// Bootstrap and its default variables
@import "bootstrap/bootstrap";

// Your style
@import "variables";
@import "mixins";
@import "general";
@import "layout";
@import "module";
@import "carousel";
@import "offcanvas";
 
body {
    font-family:'Gotham XNarrow Medium';
}
.paud-header {
    &_logo {
        display: block;
        text-align: center;
        padding-bottom: 5px;
        a {
            img {
                width: 200px;
                margin: auto;
            }
        }
    }
    &_menu_center {
        padding-bottom: 15px;
        padding-top: 15px;
        
        a {
            margin-right: 15px;
            color: #999999;
            i {
                margin-right: 5px;
            }
        }
    }
}
.paud-title-section {
    color: #2d6ca2;
    font-weight: 100;
    margin-top: 20px;
    margin-bottom: 20px;
    strong {
        font-weight: bold;
    }
    position: relative;
    &::before {
        content: url('../img/logo-title.jpg');
        margin-right: 10px;
    }
}

.paud-list-berita {
    margin-bottom: 30px;
}

.paud-navbar {
    .navbar-nav {
        li.nav-item  {
            padding-right: 20px;
            border-right: 1px solid #fff;
            padding-left: 20px;
            a.nav-link {
                color: #fff;
                font-size: 24px;
            }
        }
        li.nav-item:last-child {
            border: none;
        }
    }
}
.card-horizontal {
    display: flex;
    flex: 1 1 auto;
    .paud-nama-canal {
        margin-right: 15px;
    }
}

.navbar .navbar-header,
.navbar-collapse {
    float:none;
    display:inline-block;
    vertical-align: top;
}

@media (max-width: 768px) {
    .navbar-collapse  {
        display: block;
    }
}

/**
 * Grid styles
 */
 .video-grid.front-page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
  }
  
  ul.video-list {
    display: flexbox;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0px;
    list-style: none;
    margin: 0px;
  }
  
  li.video {
    flex-grow: 1;
    position: relative;
    ooverflow: hidden;
      width: 33.333333333%;
      width: -webkit-calc(100% / 3);
      width: calc(100% / 3);
    border: solid 0.2em transparent;
    
    & a {
      outline: none;
    }
        
    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,0);
      transition: background-color .15s;
    }
    
    & figure {
      display: block;
      position: relative;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      
      & img {
        display: block;
        max-width: 100%;
        height: auto;
        opacity: 0;
        transform: scale(0.5);
        transition: all .20s;
      }
  
      & figcaption {
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(0,0,0,0.6);
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 1rem;
        transform: translateY(0);
        opacity: 1;
        transition: all .20s;
      }
    }
    
    &:hover {
      & figure {
        & img {
          opacity: 1;
          transform: scale(1);
        }
        
        & figcaption {
          opacity: 0;
          transform: translateY(50%);
        }
      }
    }
    
    &:hover:before {
      background-color: rgba(0,0,0,0.3);
    }
  }
  
  @media screen and (max-width: 800px) {
      li.video {
          width: 50%;
          width: -webkit-calc(100% / 2);
          width: calc(100% / 2);
      }
  }
  
  @media screen and (max-width: 640px) {
      li.video {
          width: 100%;
      }
  }
  
 