.paud-header {
  padding-top: 10px;
}

.paud-header_logo {
  display: block;
  text-align: center;
  padding-bottom: 5px;
}

.paud-header_logo a img {
  width: 200px;
  margin: auto;
}

.paud-header_menu_center {
  padding-bottom: 15px;
  padding-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 575px) {
  .paud-header_menu_center {
    padding-bottom: 0px;
    padding-top: 0px;
  }
}

.paud-header_menu_center a {
  margin-right: 15px;
  color: #999999;
}

@media (max-width: 1024px) {
  .paud-header_menu_center a {
    font-size: 10px;
  }
}

.paud-header_menu_center a i {
  margin-right: 5px;
}

.paud-header_menu_center a:hover {
  text-decoration: none;
}

.paud-header_menu_center_tentang {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  padding-left: 15px;
  padding-right: 15px;
  background: #f2b84b;
  color: #fff !important;
  border-radius: 30px;
  border-bottom-left-radius: 0px;
}

@media only screen and (max-width: 575px) {
  .paud-header_menu_center_tentang {
    font-size: 18px !important;
  }
}

@media only screen and (max-width: 575px) {
  .paud-header_menu_center_sosial i {
    font-size: 24px;
  }
  .paud-header_menu_center_sosial span {
    display: none;
  }
}

.paud-header_tanggal {
  font-size: 14;
  color: #999999;
}

.paud-header_search {
  width: 100% !important;
}

.paud-header_search input {
  width: 100% !important;
}

.paud-navbar {
  padding: 0px;
  height: 50px;
  line-height: 50px;
}

.paud-navbar .navbar-nav li.nav-item {
  padding-right: 20px;
  border-right: 1px solid #fff;
  padding-left: 20px;
}

.paud-navbar .navbar-nav li.nav-item a.nav-link {
  color: #fff;
  font-size: 18px;
}

.paud-navbar .navbar-nav li.nav-item .dropdown-item {
  font-size: 18px;
}

.paud-navbar .navbar-nav li.nav-item:last-child {
  border: none;
}

.paud-navbar .navbar-brand {
  background: #fff;
  padding-right: 20px;
}

.paud-navbar .nav-link {
  display: block;
  padding: 0px !important;
}

.navbar .navbar-header,
.navbar-collapse {
  float: none;
  display: inline-block;
  vertical-align: top;
}

@media (max-width: 768px) {
  .navbar-collapse {
    display: block;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-collapse {
    display: block;
    position: absolute;
    width: 100%;
    top: 55px;
    left: 0px;
    background-color: #00000080 !important;
    z-index: 99999;
  }
  .fa-bars {
    color: #fff;
    font-size: 32px !important;
    position: relative;
    top: -5px;
  }
  .carousel-indicators {
    right: 10px;
    margin: 0px;
    bottom: 5px;
  }
  .navbar-dark .navbar-toggler {
    border: none;
  }
}

@media only screen and (max-width: 575px) {
  .data-paud-informasi {
    text-align: left !important;
  }
  .data-paud-section_logo {
    width: 40%;
    margin: 0 auto;
    margin-top: -155px;
  }
  .data-paud-section {
    margin-bottom: 0px;
  }
  .paud-header_tanggal {
    width: 100%;
    text-align: center;
    display: block;
  }
  .paud-header_logo a img {
    width: 30%;
  }
}

.paud-header-page .paud-navbar-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.paud-header-page .paud-navbar .navbar-nav li.nav-item {
  border: none;
}
